<!DOCTYPE html>
<html>
  <head>
    <title>Frieyo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/flex.css'/>
  </head>
  <body>
  	<div class="Grid Grid--gutters Grid--full large-Grid--fit u-textCenter">
	  <div class="Grid-cell">
		<div class="card">
		  <div class="card-image">
		    <img src="http://www.wired.com/wp-content/uploads/2016/02/KanyeWest-42-69483240.jpg">
		  </div>
		  <div class="card-content">
		    <h2>Kanye West</h2>
		  </div>
		  <div class="card-action">
		    <a href="#">This is a link</a>
		    <a href="#">This is a link</a>
		  </div>
		</div>	    
	  </div>
	  <div class="Grid-cell">
	    <div class="card">
		  <div class="card-image">
		    <img src="http://www.wired.com/wp-content/uploads/2016/02/KanyeWest-42-69483240.jpg">
		  </div>
		  <div class="card-content">
		    <h2>Kanye West</h2>
		  </div>
		  <div class="card-action">
		    <a href="#">This is a link</a>
		    <a href="#">This is a link</a>
		  </div>
		</div>	 
	  </div>
	  <div class="Grid-cell">
	    <div class="card">
		  <div class="card-image">
		    <img src="http://www.wired.com/wp-content/uploads/2016/02/KanyeWest-42-69483240.jpg">
		  </div>
		  <div class="card-content">
		    <h2>Kanye West</h2>
		  </div>
		  <div class="card-action">
		    <a href="#">This is a link</a>
		    <a href="#">This is a link</a>
		  </div>
		</div>	 
	  </div>
	</div>
	<div class="Grid Grid--gutters Grid--full large-Grid--fit u-textCenter">
	  <div class="Grid-cell">
		<div class="card">
		  <div class="card-image">
		    <img src="http://www.wired.com/wp-content/uploads/2016/02/KanyeWest-42-69483240.jpg">
		  </div>
		  <div class="card-content">
		    <h2>Kanye West</h2>
		  </div>
		  <div class="card-action">
		    <a href="#">This is a link</a>
		    <a href="#">This is a link</a>
		  </div>
		</div>	    
	  </div>
	  <div class="Grid-cell">
	    <div class="card">
		  <div class="card-image">
		    <img src="http://www.wired.com/wp-content/uploads/2016/02/KanyeWest-42-69483240.jpg">
		  </div>
		  <div class="card-content">
		    <h2>Kanye West</h2>
		  </div>
		  <div class="card-action">
		    <a href="#">This is a link</a>
		    <a href="#">This is a link</a>
		  </div>
		</div>	 
	  </div>
	  <div class="Grid-cell">
	    <div class="card">
		  <div class="card-image">
		    <img src="http://www.wired.com/wp-content/uploads/2016/02/KanyeWest-42-69483240.jpg">
		  </div>
		  <div class="card-content">
		    <h2>Kanye West</h2>
		  </div>
		  <div class="card-action">
		    <a href="#">This is a link</a>
		    <a href="#">This is a link</a>
		  </div>
		</div>	 
	  </div>
	</div>
	<div class="Grid Grid--gutters Grid--full large-Grid--fit u-textCenter">
	  <div class="Grid-cell">
		<div class="card">
		  <div class="card-image">
		    <img src="http://www.wired.com/wp-content/uploads/2016/02/KanyeWest-42-69483240.jpg">
		  </div>
		  <div class="card-content">
		    <h2>Kanye West</h2>
		  </div>
		  <div class="card-action">
		    <a href="#">This is a link</a>
		    <a href="#">This is a link</a>
		  </div>
		</div>	    
	  </div>
	  <div class="Grid-cell">
	    <div class="card">
		  <div class="card-image">
		    <img src="http://www.wired.com/wp-content/uploads/2016/02/KanyeWest-42-69483240.jpg">
		  </div>
		  <div class="card-content">
		    <h2>Kanye West</h2>
		  </div>
		  <div class="card-action">
		    <a href="#">This is a link</a>
		    <a href="#">This is a link</a>
		  </div>
		</div>	 
	  </div>
	  <div class="Grid-cell">
	    <div class="card">
		  <div class="card-image">
		    <img src="http://www.wired.com/wp-content/uploads/2016/02/KanyeWest-42-69483240.jpg">
		  </div>
		  <div class="card-content">
		    <h2>Kanye West</h2>
		  </div>
		  <div class="card-action">
		    <a href="#">This is a link</a>
		    <a href="#">This is a link</a>
		  </div>
		</div>	 
	  </div>
	</div>

  </body>
</html>