<!DOCTYPE html>
<html>
  <head>
    <title>Frieyo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/landing.css' />
  </head>
  <body>
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCqvvBsoSFzU4NddtvYqKD8bSX5i68Vvpg",
      authDomain: "project-1806909540976051541.firebaseapp.com",
      databaseURL: "https://project-1806909540976051541.firebaseio.com",
      storageBucket: "project-1806909540976051541.appspot.com",
    };
    firebase.initializeApp(config);
    function writeUserData(userId, name, email) {
      firebase.database().ref('users/' + userId).set({
        username: name,
        email: email
      });
      console.log("writeUserData");
    }

  </script>
  <script src="/javascripts/landing.js" type="text/javascript"></script>
  <ul class="topnav">
    <li><img class="resizeLogo" src="/images/logo.png">
      <p class="logoText">Frieyo</p></li>
  </ul>
  	<div class="container">
      <div class="center white-text">
        <img class="resizeRohit" src="/images/Rohit-Landing.png">
        <p class="useText">Rohit used Frieyo to find people to play music</p>
        <h1 class="title">Do Stuff Together</h1>
        <a href="#" onclick="fb_login();"><button class="fb-button">Continue with Facebook</button></a>
        <div id="status">
        </div>
      </div>
    </div> 
  </body>
</html>
