<!DOCTYPE html>
<html>
  <head>
    <title>Frieyo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="content">
	  	<h1>Frieyo</h1>
	  	<p>Meet people with similar interests</p>
	</div>

   
  </body>
</html>
