<!DOCTYPE html>
<html>
  <head>
    <title>Frieyo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/start.css'/>
    <link rel='stylesheet' href='/stylesheets/flexbox.css'/>
  </head>
  <body>
    <div class="start-container">
      <img class="logo-size-edit" src="../images/logoPurple.png">
      <div class="row">
        <div class="column-no-padding _75">
          <h2 class="interestStatement">Last step, show your personality!</h2>
        </div>
      <div class="column-no-padding _25">
        <a onclick="submitContacts();"><button class="continue">All Done!</button></a>
      </div>
      </div>
      <div class="row">
          <p class="descriptionText">Just to help people get to know you.</p>
      </div>
      <div class="row align-inherit">
        <div class="column-7-half">
          <img class="socialIcons" src="/images/start/instagram.png">
        </div>
        <div class="column-7-half">
          <input id="instagramHandle" class="contactBox" type="text" placeholder="Instagram Handle">
        </div>
      </div>
      <div class="row align-inherit">
        <div class="column-7-half">
          <img class="socialIcons" src="/images/start/twitter.png">
        </div>
        <div class="column-7-half">
          <input id="twitterHandle" class="contactBox" type="text" placeholder="Twitter Handle">
        </div>
      </div>
      <div class="row align-inherit">
        <div class="column-7-half">
          <img class="socialIcons" src="/images/start/linkedin.png">
        </div>
        <div class="column-7-half">
          <input id="linkedIn" class="contactBox" type="text" value="http://www.linkedin.com/in/">
        </div>
      </div>
      <div class="row align-inherit">
        <div class="column-7-half">
          <img class="socialIcons" src="/images/start/email.png">
        </div>
        <div class="column-7-half">
          <input id="email" class="contactBox" type="text" placeholder="Email">
        </div>
      </div>
      <div class="row align-inherit">
        <div class="column-7-half">
          <img class="socialIcons" src="/images/start/personal-website.png">
        </div>
        <div class="column-7-half">
          <input id="personalWebsite" class="contactBox" type="text" value="http://">
        </div>
      </div>      
    </div>
  <script src="/javascripts/start.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/javascripts/start/contact.js" type="text/javascript"></script> 
  </body>
</html>