<!DOCTYPE html>
<html>
  <head>
    <title>Frieyo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/start.css'/>
  </head>
  <body>
      <div class="inline-block"> 
        <h1 class="interestStatement">Rohit, what are your interests?</h1>
        <a onclick="intereststoContact();"><button class="continue">Continue</button></a>
      </div>
        <input class="interestBox" type="text" placeholder="Search for something you love...">


        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>
        <div class="chip">
          Jane Doe
        </div>

  <script src="/javascripts/start.js" type="text/javascript"></script> 
  </body>
</html>