<!DOCTYPE html>
<html>
  <head>
    <title>Frieyo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/start.css'/>
  </head>
  <body>
      <img class="picResize-Interests" src="/images/start/Ro-ProfilePic.png">
      <h2>Rohit, what are your interests?</h2>
      <p>You will be able to find people with similar interests.</p>
  </body>
</html>