<!DOCTYPE html>
<html>
  <head>
    <title>Frieyo</title>
    <link rel='stylesheet' href='/stylesheets/start.css' />
  </head>
  <body>
    <div class="container">
      <div class="center">
        <h1 class="title">Hi Rohit!</h1>
        <h3 class="sub-statement">Enter your zip code!</h3>
        <div id="status">
        </div>
      </div>
    </div> 
  </body>
</html>