/* Grid */

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .column {
    flex: 1;
  }
  ._25 {
    flex-basis: 23%;
  }
  ._5 {
    flex: 5;
  }
}
/* Style */


.column {
  padding: 15px;
  margin: 5px 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
