.start-container {
  max-width: 1200px;
  margin: 0 auto;
}



/* Grid */

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .flex-center {
    justify-content: center;
  }
  .row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .column {
    flex: 1;
  }

  .column-7-half {
    flex-basis: 7.5%;
  }

  ._20 {
    flex-basis: 20%;
  }

  ._5 {
    flex: 5;
  }

  ._75 {
    flex: 7.5;
  }

}
/* Style */


.column {
  padding: 5px;
  margin: 5px 0;
}

.column-no-padding {
  margin: 5px 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.align-inherit {
  align-items: inherit;
}
