/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
-Responsive helpers
-Text style
-Nav

 */


html{
	background: url(../images/background-purple.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
  padding: 50px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* =========================================================================
                            Responsive Helpers
=======================================================================*/

.container {
  display: flex;
  justify-content: center;
}
.center {
  width: 800px;
  text-align: center;
}

/* =========================================================================
                            Style
=======================================================================*/

.white-text {
	color: white;
}

.title {
	font-size: 70px;
	font-weight: 600;
}

.sub-statement {
	font-size: 48px;
	font-weight: 400;
}

.fb-button {
    background: url(../images/facebook-f.png);
    background-position: 20px 5px;
    background-repeat: no-repeat;
    background-size: 8%;
    /*adjust the roundness*/
    background-color: #3B539A;
    color: white;
    border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    /*adjust height and width*/
    height: 60px;
    width: 350px;
    font-size: 22px; 
    font-weight: 400;
    /*change border colour*/
    border:1px #245ec6 solid;
    padding-left: 50px;    
}

.resizeRohit {
  height: auto; 
  width: auto; 
  max-width: 125px; 
  max-height: 125px;
  margin-top: 60px;
}

.useText {
  font-size: 20px;
  margin-bottom: -30px;
  font-weight: 400;
}



/* =========================================================================
                            Nav
=======================================================================*/

.resizeLogo {
  height: auto; 
  width: auto; 
  max-width: 40px; 
  max-height: 40px;
}

.logoText {
  color: white;
  font-size: 40px;
  display: inline-block;
  margin-left: 10px;
}

nav {
  position: absolute;
  top: -25px;
  left: 50px;
}
