/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
-Responsive helpers
-Text style
-Nav
-Media Queries
-About
-Arrow
 */


html{
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#hero{
  background:url(../images/background-purple.png);
  background-size: cover;
  background-position: center center;
  position:relative;
  height:100vh;
  margin: -10px -10px 0;
}

.header{
  position:absolute;
  top:50%;
  width:100%;
  -ms-transform: translate(0,-50%); /* IE 9 */
  -webkit-transform: translate(0,-50%); /* Safari */
  transform: translate(0,-50%);  

}


/* =========================================================================
                            Responsive Helpers
=======================================================================*/

.container {
  display:-webkit-flex;
  -webkit-justify-content: center;
}
.center {
  width: 800px;
  text-align: center;
}

/* =========================================================================
                            Style
=======================================================================*/

.white-text {
	color: white;
}

.title {
	font-size: 60px;
	font-weight: 500;
}


.fb-button {
    background: url(../images/facebook-f.png);
    background-position: 20px 5px;
    background-repeat: no-repeat;
    background-size: 8%;
    /*adjust the roundness*/
    background-color: #3B539A;
    color: white;
    border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    /*adjust height and width*/
    height: 60px;
    width: 350px;
    font-size: 22px; 
    font-weight: 400;
    /*change border colour*/
    border:1px #245ec6 solid;
    padding-left: 50px;    
}

.resizeRohit {
  height: auto; 
  width: auto; 
  max-width: 125px; 
  max-height: 125px;
  margin-top: -75px;
}

.useText {
  font-size: 18px;
  margin-bottom: -30px;
  font-weight: 400;
}

.aboutText {
  font-weight: 500;
  font-size: 42px;
}

.alignCenter {
  text-align: center;
}



/* =========================================================================
                            Nav
=======================================================================*/

.resizeLogo {
  height: auto; 
  width: auto; 
  max-width: 40px; 
  max-height: 40px;
}

.logoText {
  color: white;
  font-size: 36px;
  font-weight: 300;
  display: inline-block;
  margin-left: 10px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 0;
  margin-top: -225px;
  margin-left: 25px;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
/* =========================================================================
                            Media Queries
=======================================================================*/
@media screen and (max-width: 769px) {

    .title {
    font-size: 36px;
    padding-top: 20px;
  }

  .resizeRohit {
    height: auto; 
    width: auto; 
    max-width: 110px; 
    max-height: 110px;
  }
  .useText {
    font-size: 18px;
  }
  .fb-button {
    /*adjust height and width*/
    height: 50px;
    width: 250px;
    font-size: 14px; 
  }

  .resizeLogo {
    height: auto; 
    width: auto; 
    max-width: 35px; 
    max-height: 35px;
  }

  .logoText {
    font-size: 35px;
  }

}


@media screen and (max-width: 480px) {

  .title {
    font-size: 32px;
    padding-top: 20px;
  }

  .resizeRohit {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
  }
  .useText {
    font-size: 16px;
  }
  .fb-button {
    /*adjust height and width*/
    height: 50px;
    width: 250px;
    font-size: 14px; 
  }

  .resizeLogo {
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
  }

  .logoText {
    font-size: 30px;
  }


}

/* =========================================================================
                            About
=======================================================================*/

h3.purpleText {
  color: #5450DC;
  font-weight: 500;
  font-size: 24px;
}

p.grayAbout {
  color: #727172;
  font-size:16px;
}


/* =========================================================================
                            Arrow
=======================================================================*/
.arrow {
  position: absolute;
  left: 50%;
  top: 155%;
  margin-left:-20px;
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}


@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}