/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
-Responsive helpers
-Text style
-Location
-Interests
-Contact
-About
 */

body {
  padding: 50px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #333333;
}

a {
  color: #00B7FF;
}


/* =========================================================================
                            Responsive Helpers
=======================================================================*/

.container-custom {
  display:-webkit-flex;
  justify-content: center;
}
.center {
  padding: 3%;
  text-align: center;
}

.flex {
  display:-webkit-flex;
  justify-content: flex-start;
}

/* =========================================================================
                            Style
=======================================================================*/

.white-text {
	color: white;
}

.title {
	font-size: 80px;
	font-weight: 600;
}

.sub-statement {
	font-size: 48px;
	font-weight: 400;
}

.fb-button {
    /*adjust the roundness*/
    background-color: #3B539A;
    color: white;
    border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    /*adjust height and width*/
    height: 50px;
    width: 300px;
    font-size: 20px; 
    /*change border colour*/
    border:1px #245ec6 solid;
    
}


div.profilePic {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
}

.picResize {
  height: auto; 
  width: auto; 
  max-width: 150px; 
  max-height: 150px;
  float: left;
}

.logo-size-edit {
  height: auto; 
  width: auto; 
  max-width: 50px; 
  max-height: 50px;
  position:fixed; 
  top:2.5%; 
  left:2.5%;
}


/* =========================================================================
                            Location
=======================================================================*/

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
}

.uploadResize {
  height: auto; 
  width: auto; 
  max-width: 20px; 
  max-height: 20px;
  float: left;
  margin: 150px 0px 0px 60px;

}

input.box {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: 400px;
  height:70px;
  font-size: 40px;
  color: #333333;
  background-color: #F5F8FA;
}


.wrapperProfile {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: -150px;
}

.goButton {
  /* Rectangle 7: */
  background: #5450DC;
  border-color: #5450DC;
  border-radius: 18px;
  height: 75px;
  width: 100px;
  /* Go: */
  font-family: Avenir;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0px;
}

/* =========================================================================
                            Interests
=======================================================================*/



.topicText {
  font-family: Avenir-Light;
  font-size: 24px;
  color: #3D3B3B;
  margin-top: 75px;
}

.select {
  font-size: 26px;
  font-weight: 400;
  margin-top: 100px;
}

.centerInterests {
  max-width: 1000px;
  text-align: center;
}

input.interestBox {
  display: inline-block;
  width: 850px;
  height:50px;
  margin: 0 auto;
  /* Rectangle 9: */
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  /* Search for what you : */
  font-family: Avenir-Roman;
  font-size: 20px;
  font-weight: 300;
  color: #3D3B3B;
  letter-spacing: 0px;
  /* Bitmap: */
  background: url(../images/search-icon.png);
  background-position: 19px 8px;
  background-repeat: no-repeat;
  background-size: 4%;
  }

.pad-75-left{
  padding-left: 75px !important;
}

.picResize-Interests {
  height: auto; 
  width: auto; 
  max-width: 150px; 
  max-height: 150px;
}

.chip {
  display: inline-block;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  color: #5450DC;
  line-height: 36px;
  padding: 0 40px;
  border-radius: 20px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #5450DC;
  margin: 10px;
}

.chip img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.continue {
  display: inline-block;
  background: #5450DC;
  border-color: #5450DC;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: none;
  height: 50px;
  width: 250px;
  font-family: Avenir;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0px;
}

.interestStatement {
  font-size: 48px;
  font-weight: 400;
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

.blackBackground {
  background-color: black;
  z-index: -1;
}

.opacityFilter {
  opacity: 0.8;
  position: relative;

}

{
  margin-bottom: -6px !important;
}


.topicImage {
    padding-bottom: 75%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative !important;
    height:150px;
    background-color: rgba(0, 0, 0, 0.8) !important;
}


.text-inside-image {
  position: absolute;
  top: 20%;
  left: 35%;
  color: white;
  font-size: 24px;
  font-weight: 500;
  z-index: 1;
}

.topicContainer {
    position: relative;
    background-color: #171616;
    overflow: hidden;
    height: 150px;
}
.topicContainer h3 {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
    padding: 50px;
} 
.topicContainer img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.6;
}

.topicContainer:hover {
  background-color: #5450DC;
}

.topicContainer.active {
  background-color: #5450DC;
}

.purpleOverlay {
  background-color: #5450DC;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 950px) {

  .topicContainer {
    height: 120px;
  }

  .topicContainer h3 {
    padding: 40px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .topicContainer {
    height: 110px;
  }

  .topicContainer h3 {
    padding: 30px;
    font-size: 16px;
  }

}

@media only screen and (max-width : 675px) {

  .topicContainer {
    height: 80px;
  }

  .topicContainer h3 {
   padding: 20px;
    font-size: 14px;
  }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

  .topicContainer {
    height: 60px;
  }

  .topicContainer h3 {
    padding: 10px;
    font-size: 14px;
  }
}

.full-height-image {
 /* height: 100% !important;*/
  
  min-width: 100% !important;
}

.topic-progress-bar {
    height: 60px;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5450DC;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    transition-property: -webkit-transform,-webkit-transform;
    transition-property: transform,transform;
    transition-property: transform,transform,-webkit-transform,-webkit-transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.topic-picker-done-button {
    font-size: 16px;
    background-color: #fff;
    color: #000;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    border: none;
    margin-left: 20px;
}

.topic-done-text {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* =========================================================================
                            Contact
=======================================================================*/

input.contactBox {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: 300px;
  height:50px;
  font-size: 16px;
  color: #333333;
  background-color: #F5F8FA;
  display: block;
  margin-bottom: 30px;
}

/* =========================================================================
                            About
=======================================================================*/

.aboutBox {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: 500px;
  height:250px;
  font-size: 16px;
  color: #333333;
  background-color: #F5F8FA;
  display: block;
  margin-bottom: 30px;
}

