/*
Color Table:

purple: #5450DC;

*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
-Responsive helpers
-Text style
-Cards
-Feed
-User
 */

body {
  padding: 50px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* =========================================================================
                            Responsive Helpers
=======================================================================*/

.container {
  display: flex;
  justify-content: center;
}
.center {
  width: 800px;
  text-align: center;
}

/* =========================================================================
                            Style
=======================================================================*/

.white-text {
	color: white;
}

.title {
	font-size: 80px;
	font-weight: 600;
}

.sub-statement {
	font-size: 48px;
	font-weight: 400;
}

.fb-button {
    /*adjust the roundness*/
    background-color: #3B539A;
    color: white;
    border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    /*adjust height and width*/
    height: 50px;
    width: 300px;
    font-size: 20px; 
    /*change border colour*/
    border:1px #245ec6 solid;    
}

/* =========================================================================
                            Cards
=======================================================================*/

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  border-color: #CCCCCC;
  border-style: solid;
  border-radius: 1px;
  border-radius: 4px;
}

.card.small {
  position: relative;
}

.card.small .card-image {
  max-height: 60%;
  overflow: hidden;
}

.card.small .card-content {
  max-height: 40%;
  overflow: hidden;
}

.card.small .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card.small {
  height: 300px;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
  z-index: 2;
  display: inline-block;
}

.card .card-action p:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #5450DC;
  margin-right: 20px;
  transition: color .3s ease;
}

.card .card-action p:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #5450DC;
}

/* =========================================================================
                            Feed
=======================================================================*/

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.mutualResize {
  height: auto; 
  width: auto; 
  max-width: 20px; 
  max-height: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.gray {
  color: #727172 !important;
}

p {
  font-size: 17.5px;
  font-weight: 450;
}

.nameSize {
  font-size: 20px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}


/* =========================================================================
                            User
=======================================================================*/

.picResize {
  height: auto; 
  width: auto; 
  max-width: 250px; 
  max-height: 250px;
}

.purple {
  color: #5450DC;
}

/*background: #FFFFFF;
border: 1px solid #5450DC;
border-radius: 5px;
font-family: Avenir-Roman;
font-size: 18.6px;
color: #5450DC;
letter-spacing: 0px;*/


.commoninterestBox {
  display: inline-block;
  height: 32px;
  font-size: 16px;
  font-weight: 300;
  color: #5450DC;
  line-height: 34px;
  padding: 0 15px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  border-color: #5450DC;
  margin: 0px 3px 0px 5px;
}

.facebookBox {
  display: inline-block;
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 34px;
  padding: 0 15px;
  border-radius: 8px;
  background-color: #3B539A;
  margin: 0px 3px 0px 5px;
}

.twitterBox {
  display: inline-block;
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 34px;
  padding: 0 15px;
  border-radius: 8px;
  background-color: #3091FF;
  margin: 0px 3px 0px 5px;
}

.linkedinBox {
  display: inline-block;
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 34px;
  padding: 0 15px;
  border-radius: 8px;
  background-color: #4875B4;
  margin: 0px 3px 0px 5px;
}

.emailBox {
  display: inline-block;
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 34px;
  padding: 0 15px;
  border-radius: 8px;
  background-color: #3D3B3B;
  margin: 0px 3px 0px 5px;
}




