/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
-Responsive helpers
-Text style

 */


html{
	background: url(../images/background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
  padding: 50px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* =========================================================================
                            Responsive Helpers
=======================================================================*/

.container {
  display: flex;
  justify-content: center;
}
.center {
  width: 800px;
  text-align: center;
}

/* =========================================================================
                            Style
=======================================================================*/

.white-text {
	color: white;
}

.title {
	font-size: 80px;
	font-weight: 600;
}

.sub-statement {
	font-size: 48px;
	font-weight: 400;
}

.fb-button {
    /*adjust the roundness*/
    background-color: #3B539A;
    color: white;
    border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    /*adjust height and width*/
    height: 50px;
    width: 300px;
    font-size: 20px; 
    /*change border colour*/
    border:1px #245ec6 solid;    
}

