<!DOCTYPE html>
<html>
  <head>
    <title>Frieyo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/flex.css'/>
  </head>
  <body>
    <div style="display:block;">
      <img class="picResize" src="/images/Ro-Green-Jacket.png">
      <h1>Rohit Tigga</h1>
      <p>San Jose, California</p>
      <p>4 mutual friends</p>
      <h3>Common Interests</h3>
      <div class="commoninterestBox">
        Tech
      </div>
      <div class="commoninterestBox">
        Design
      </div>
      <div class="commoninterestBox">
        Basketball
      </div>
    </div>


  </body>
</html>